@import url(cabecera.css);
@import url(menu.css);
@import url(pie.css     );
@import url(contacto.css);
@import url(blog.css);
@import url(carrito.css);
@import url(catalogo.css);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightgray;

}

body {
  min-height: 100vh;           /* Obliga a la página a medir el 100% del alto de la pantalla */
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

main {
  flex: 1;                     /* Hace que el contenido del medio crezca y empuje el footer al fondo */
}
.Bienvenida{
    padding: 0 40px;
    margin: 20px;
}

/* Si es pantalla de PC (grande) */
@media (min-width: 769px) {
  body {
    background-image: url('../img/Fondo3.jpg');
    background-size: cover;
  }
}

/* Si es pantalla de celular (chica) */
@media (max-width: 480px) {
  body {
    background-image: none;      /* Quita la foto pesada */
    background-color: lightgray; /* Deja un fondo gris simple */
  }
}